body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.transactions-container, .search-container {
    margin-top: 20px;
    text-align: left;
}

.transaction-item {
    background: #eee;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.transaction-item button {
    background-color: #dc3545;
    width: auto;
    padding: 5px;
}

.transaction-item button:hover {
    background-color: #c82333;
}
